@import "app/styles";

.wrapper {
  @include flex-column;
  width: calc(96% - 24px);
  max-width: 500px;
  gap: 12px;
  padding: 24px  12px;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary);
  box-shadow: var(--box-shadow);
}