:root[data-theme="dark"] {
  --text-primary: #FFFFFF;
  --text-secondary: #717394;
  //------------------------------------
  --bg-primary: #0E1621;
  --bg-secondary: #171B2B;
  //------------------------------------
  --box-shadow: 0 0 6px 0 #717394;
  --box-shadow-active: 0 0 3px 0 #717394;
}