:root[data-theme="light"] {
  --text-primary: #2A313C;
  --text-secondary: #717394;
  //------------------------------------
  --bg-primary: #EFF2F7;
  --bg-secondary: #FFFFFF;
  //------------------------------------
  --box-shadow: 0 0 6px 0 rgba(0, 1, 2, 0.32);
  --box-shadow-active: 0 0 3px 0 rgba(0, 1, 2, 0.32);
}
